<div class="container shadow-effect">
  <div class="row">
    <div class="col-md-9">
      <div class="card">

        {{id}}
        <img
          src="{{ data.postImgPath }}"
          alt=""
          class="card-img-top img-fluid"
        />
        <div class="card-body">
          <small class="bg-light text-danger text-center">
            {{ data.category.category }}
          </small>
          <small class="bg-light text-success text-center ml-2">
            Featured
          </small>
          <small class="bg-light text-info text-center ml-2">
            Views - {{ data.views }}
          </small>

          <h1 class="mt-3 mb-3">
            {{ data.title }}
          </h1>
          <p>
            {{ data.excerpt }}
          </p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>
    <div class="col-md-3 mb-3">
      <div *ngFor="let p of dataFeatured">
        <app-post-card [data]="p"></app-post-card>
      </div>
    </div>
  </div>
</div>
