<div class="card shadow-effect">
  <img
    src="https://images.unsplash.com/photo-1563089145-599997674d42?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
    alt="post-image"
    class="card-img-top"
  />
  <div class="card-body">
    <small class="bg-light text-danger text-center"> Design </small>
    <small class="bg-light text-success text-center ml-3"> Featured </small>
    <small class="bg-light text-info text-center ml-3"> Views </small>
    <h5 class="mt-1">HOW TO START A BLOG IN 2020 EDITED NEW CATEGORY</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quos
      sapiente dicta consequuntur ad. Sit vitae tempora nesciunt assumenda illo,
      quos dolor beatae vero, quasi nam iusto, libero facere quas.
    </p>
    <small class="bg-light text-warning text-center ml-3">
      LAST UPDATED - SEP 20, 2021
    </small>
  </div>
</div>
